In [10]:
import pandas as pd


df = pd.read_csv('data.csv')

df['Purchaser Codes'] = df['Purchaser Codes']. fillna ('unknown')

df = df.dropna()


int_cols = df.select_dtypes(include='int64').columns

for column in int_cols:
    lower_bound = df[column].quantile(q=0.025)
    upper_bound = df[column].quantile(q=0.975)
    mask = (df[column] > lower_bound) & (df[column] < upper_bound)

    clean = df[mask].dropna()
clean

,Production Year,Production Date Entered,Operator,County,Town,Field,Producing Formation,Active Oil Wells,Inactive Oil Wells,Active Gas Wells,Inactive Gas Wells,Injection Wells,Disposal Wells,Self-use Well,"Oil Produced, bbl","Gas Produced, Mcf","Water produced, bbl","Taxable Gas, Mcf",Purchaser Codes,Location
5,1995,4/2/1996,"Cotton Well Drilling Company, Inc.",Chautauqua,SHERIDAN,LAKESHORE,MEDINA,0,0,13,2,0,0,NO,0,27742,377,24177,GK,"SHERIDAN, NY\n(42.485764, -79.241801)"
6,1994,4/5/1995,"Oil, Gas & Land Services, Inc.",Chautauqua,ELLERY,ELLERY,ONONDAGA-BASS ISLAND,1,3,1,0,0,0,NO,96,1582,730,1439,"GX,OA","ELLERY, NY\n(42.159868, -79.393216)"
10,1995,4/4/1996,Belden & Blake Corporation,Chautauqua,ELLERY,LAKESHORE,MEDINA,0,0,1,0,0,0,YES,0,2351,107,2351,GX,"ELLERY, NY\n(42.159868, -79.393216)"
11,1994,3/23/1995,Seneca Resources Corporation,Genesee,STAFFORD,ROANOKE,MEDINA,0,0,1,0,0,0,NO,0,1331,0,1331,GK,"STAFFORD, NY\n(42.981656, -78.073476)"
13,1994,3/22/1995,"Weil Resources, Inc.",Cattaraugus,OTTO,LAKESHORE,MEDINA,0,0,1,0,0,0,NO,0,758,0,758,GK,"OTTO, NY\n(42.35589, -78.832619)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30041,1995,4/17/1996,"Ardent Resources, Inc.",Cayuga,SPRINGPORT,WEST AUBURN,QUEENSTON,0,0,4,0,0,0,NO,0,21516,0,21516,GC,"SPRINGPORT, NY\n(42.842233, -76.691958)"
30043,1994,4/6/1995,Transfuel Resources Co.,Chautauqua,DUNKIRK,LAKESHORE,MEDINA,0,0,1,0,0,0,NO,0,6745,23,6745,GK,"DUNKIRK, NY\n(42.481338, -79.333958)"
30048,1995,3/18/1996,"Eastern States Energy, Inc.",Erie,EVANS,BRANT-EDEN,MEDINA,0,0,9,1,0,0,NO,0,35272,710,24002,GK,"EVANS, NY\n(42.638457, -79.027689)"
30051,1995,3/26/1996,Columbia Natural Resources LLC,Chautauqua,GERRY,LAKESHORE,MEDINA,0,0,1,0,0,0,NO,0,3370,0,3370,GH,"GERRY, NY\n(42.194749, -79.250394)"
30052,1995,4/4/1996,Belden & Blake Corporation,Erie,BRANT,BRANT-EDEN,MEDINA,0,0,5,0,0,0,YES,0,30615,146,30615,GX,"BRANT, NY\n(42.58859, -79.044449)"