In [29]:
import pandas as pd


df = pd.read_csv('data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30053 entries, 0 to 30052
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Production Year          30053 non-null  int64
 1   Production Date Entered  30053 non-null  object
 2   Operator                 30053 non-null  object
 3   County                   30022 non-null  object
 4   Town                     29396 non-null  object
 5   Field                    28772 non-null  object
 6   Producing Formation      29393 non-null  object
 7   Active Oil Wells         30053 non-null  int64
 8   Inactive Oil Wells       30053 non-null  int64
 9   Active Gas Wells         30053 non-null  int64
 10  Inactive Gas Wells       30053 non-null  int64
 11  Injection Wells          30053 non-null  int64
 12  Disposal Wells           30053 non-null  int64
 13  Self-use Well            29434 non-null  object
 14  Oil Produced, bbl        30053 non-null  int64
 15  Gas Produced, Mcf        30053 non-null  int64
 16  Water produced, bbl      30053 non-null  int64
 17  Taxable Gas, Mcf         30053 non-null  int64
 18  Purchaser Codes          18255 non-null  object
 19  Location                 30053 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.6+ MB

In [25]:
#произвожу работу с пропущеными значениями

df['Purchaser Codes'] = df['Purchaser Codes'].fillna('unknown') #заполняю текстовыми значениями пропуски столбца
df = df.dropna()#удаляю путсые значения

df

,Production Year,Production Date Entered,Operator,County,Town,Field,Producing Formation,Active Oil Wells,Inactive Oil Wells,Active Gas Wells,Inactive Gas Wells,Injection Wells,Disposal Wells,Self-use Well,"Oil Produced, bbl","Gas Produced, Mcf","Water produced, bbl","Taxable Gas, Mcf",Purchaser Codes,Location
0,1995,12/3/1996,"Buffalo China, Inc.",Erie,BUFFALO,BUFFALO,MEDINA,0,0,1,0,0,0,YES,0,106,0,0,unknown,"BUFFALO, NY\n(42.887691, -78.879374)"
1,1995,3/29/1996,"Copper Ridge Oil, Inc.",Steuben,WEST UNION,BEECH HILL-INDEPENDENCE,FULMER VALLEY,28,0,0,0,7,0,NO,1229,0,180,0,OA,"WEST UNION, NY\n(42.094951, -77.725816)"
2,1994,2/14/1995,"White, Walter W. & Christina L.",Cattaraugus,CARROLLTON,BRADFORD,BRADFORD,3,0,0,0,0,0,NO,462,0,0,0,OA,"CARROLLTON, NY\n(42.023289, -78.628438)"
3,1994,1/19/1995,"Stiegler, Richard M",Erie,CHEEKTOWAGA,BUFFALO,MEDINA,0,0,1,0,0,0,YES,0,530,0,0,unknown,"CHEEKTOWAGA, NY\n(42.907071, -78.754318)"
4,1995,2/12/1996,"Bucher, Charles J",Cattaraugus,ALLEGANY,FIVE MILE,BRADFORD,10,0,0,0,0,0,NO,45,0,80,0,OA,"ALLEGANY, NY\n(42.088061, -78.491258)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30048,1995,3/18/1996,"Eastern States Energy, Inc.",Erie,EVANS,BRANT-EDEN,MEDINA,0,0,9,1,0,0,NO,0,35272,710,24002,GK,"EVANS, NY\n(42.638457, -79.027689)"
30049,1994,3/2/1995,P & G Oil Co.,Allegany,WILLING,FULMER VALLEY,RICHBURG,0,7,0,0,0,0,INACTIVE,0,0,0,0,unknown,"WILLING, NY\n(42.085346, -77.922864)"
30050,1994,2/13/1995,"Vandermark Exploration, Inc.",Steuben,WEST UNION,UNNAMED,ORISKANY,0,0,0,2,0,0,INACTIVE,0,0,0,0,unknown,"WEST UNION, NY\n(42.094951, -77.725816)"
30051,1995,3/26/1996,Columbia Natural Resources LLC,Chautauqua,GERRY,LAKESHORE,MEDINA,0,0,1,0,0,0,NO,0,3370,0,3370,GH,"GERRY, NY\n(42.194749, -79.250394)"
30052,1995,4/4/1996,Belden & Blake Corporation,Erie,BRANT,BRANT-EDEN,MEDINA,0,0,5,0,0,0,YES,0,30615,146,30615,GX,"BRANT, NY\n(42.58859, -79.044449)"

In [24]:
#очистка от аномалий

int_cols = df.select_dtypes(include='int64').columns#выбераю числовые данные

#очистка от аномалий методом квантилей
for column in int_cols:
    lower_bound = df[column].quantile(q=0.025)
    upper_bound = df[column].quantile(q=0.975)
    mask = (df[column] >= lower_bound) & (df[column] <= upper_bound)

    clean = df[mask].dropna()

clean

,Production Year,Production Date Entered,Operator,County,Town,Field,Producing Formation,Active Oil Wells,Inactive Oil Wells,Active Gas Wells,Inactive Gas Wells,Injection Wells,Disposal Wells,Self-use Well,"Oil Produced, bbl","Gas Produced, Mcf","Water produced, bbl","Taxable Gas, Mcf",Purchaser Codes,Location
0,1995,12/3/1996,"Buffalo China, Inc.",Erie,BUFFALO,BUFFALO,MEDINA,0,0,1,0,0,0,YES,0,106,0,0,unknown,"BUFFALO, NY\n(42.887691, -78.879374)"
1,1995,3/29/1996,"Copper Ridge Oil, Inc.",Steuben,WEST UNION,BEECH HILL-INDEPENDENCE,FULMER VALLEY,28,0,0,0,7,0,NO,1229,0,180,0,OA,"WEST UNION, NY\n(42.094951, -77.725816)"
2,1994,2/14/1995,"White, Walter W. & Christina L.",Cattaraugus,CARROLLTON,BRADFORD,BRADFORD,3,0,0,0,0,0,NO,462,0,0,0,OA,"CARROLLTON, NY\n(42.023289, -78.628438)"
3,1994,1/19/1995,"Stiegler, Richard M",Erie,CHEEKTOWAGA,BUFFALO,MEDINA,0,0,1,0,0,0,YES,0,530,0,0,unknown,"CHEEKTOWAGA, NY\n(42.907071, -78.754318)"
4,1995,2/12/1996,"Bucher, Charles J",Cattaraugus,ALLEGANY,FIVE MILE,BRADFORD,10,0,0,0,0,0,NO,45,0,80,0,OA,"ALLEGANY, NY\n(42.088061, -78.491258)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30048,1995,3/18/1996,"Eastern States Energy, Inc.",Erie,EVANS,BRANT-EDEN,MEDINA,0,0,9,1,0,0,NO,0,35272,710,24002,GK,"EVANS, NY\n(42.638457, -79.027689)"
30049,1994,3/2/1995,P & G Oil Co.,Allegany,WILLING,FULMER VALLEY,RICHBURG,0,7,0,0,0,0,INACTIVE,0,0,0,0,unknown,"WILLING, NY\n(42.085346, -77.922864)"
30050,1994,2/13/1995,"Vandermark Exploration, Inc.",Steuben,WEST UNION,UNNAMED,ORISKANY,0,0,0,2,0,0,INACTIVE,0,0,0,0,unknown,"WEST UNION, NY\n(42.094951, -77.725816)"
30051,1995,3/26/1996,Columbia Natural Resources LLC,Chautauqua,GERRY,LAKESHORE,MEDINA,0,0,1,0,0,0,NO,0,3370,0,3370,GH,"GERRY, NY\n(42.194749, -79.250394)"
30052,1995,4/4/1996,Belden & Blake Corporation,Erie,BRANT,BRANT-EDEN,MEDINA,0,0,5,0,0,0,YES,0,30615,146,30615,GX,"BRANT, NY\n(42.58859, -79.044449)"

In [26]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27238 entries, 0 to 30052
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Production Year          27238 non-null  int64
 1   Production Date Entered  27238 non-null  object
 2   Operator                 27238 non-null  object
 3   County                   27238 non-null  object
 4   Town                     27238 non-null  object
 5   Field                    27238 non-null  object
 6   Producing Formation      27238 non-null  object
 7   Active Oil Wells         27238 non-null  int64
 8   Inactive Oil Wells       27238 non-null  int64
 9   Active Gas Wells         27238 non-null  int64
 10  Inactive Gas Wells       27238 non-null  int64
 11  Injection Wells          27238 non-null  int64
 12  Disposal Wells           27238 non-null  int64
 13  Self-use Well            27238 non-null  object
 14  Oil Produced, bbl        27238 non-null  int64
 15  Gas Produced, Mcf        27238 non-null  int64
 16  Water produced, bbl      27238 non-null  int64
 17  Taxable Gas, Mcf         27238 non-null  int64
 18  Purchaser Codes          27238 non-null  object
 19  Location                 27238 non-null  object
dtypes: int64(11), object(9)
memory usage: 4.4+ MB

In [30]:
#задал одинаковый формат данных для каждого поля


clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27238 entries, 0 to 30052
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Production Year          27238 non-null  object
 1   Production Date Entered  27238 non-null  object
 2   Operator                 27238 non-null  object
 3   County                   27238 non-null  object
 4   Town                     27238 non-null  object
 5   Field                    27238 non-null  object
 6   Producing Formation      27238 non-null  object
 7   Active Oil Wells         27238 non-null  object
 8   Inactive Oil Wells       27238 non-null  object
 9   Active Gas Wells         27238 non-null  object
 10  Inactive Gas Wells       27238 non-null  object
 11  Injection Wells          27238 non-null  object
 12  Disposal Wells           27238 non-null  object
 13  Self-use Well            27238 non-null  object
 14  Oil Produced, bbl        27238 non-null  object
 15  Gas Produced, Mcf        27238 non-null  object
 16  Water produced, bbl      27238 non-null  object
 17  Taxable Gas, Mcf         27238 non-null  object
 18  Purchaser Codes          27238 non-null  object
 19  Location                 27238 non-null  object
dtypes: object(20)
memory usage: 4.4+ MB